{% extends 'main.html' %}
{% block content %}
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <center><h1>Diabetes Predictor</h1></center>
            <div class="card card-body" style="background-color:  #d8dbde; border: none; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);">
                <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="pregnancies" placeholder="Number of Pregnancies eg. 0" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control shadow-sm" type="text" name="age" placeholder="Age (years) eg. 34" style="border: none; border-radius: 5px;">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn" value="Predict" style="background-color: rgb(17,162,156); color: white; border-radius: 5px; border: none; width: auto; padding: 10px;float:right;">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}